<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Kidney Disease Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Kidney Disease Predictor</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="Bp" placeholder="Blood Pressure (50 to 180)"><br>
                <input class="form-input" type="text" name="Sg" placeholder="Specific Gravity(1 to 1.02)"><br>
                <input class="form-input" type="text" name="Al" placeholder="Albumin (0 to 5)"><br>
                <input class="form-input" type="text" name="Su" placeholder="Sugar (0 to 5)"><br>
                <input class="form-input" type="text" name="Rbc" placeholder="Red Blood Cell (0-1)"><br>
                <input class="form-input" type="text" name="Bu" placeholder="Blood Urea(1.5 to 391)"><br>
                <input class="form-input" type="text" name="Sc" placeholder="Serum Creatinine (0.4 to 76)"><br>
                <input class="form-input" type="text" name="Sod" placeholder="Sodium (4.5 to 163)"><br>
                <input class="form-input" type="text" name="Pot" placeholder="Pottasium (2.5 to 47)"><br>
                <input class="form-input" type="text" name="Hemo" placeholder="Hemoglobin (3.1 to 17.8)"><br>
                <input class="form-input" type="text" name="Wbcc" placeholder="White Blood Cell Count (2.2k to 26.4k)"><br>
                <input class="form-input" type="text" name="Rbcc" placeholder="Red Blood Cell Count (2.1k to 8k)"><br>
                <input class="form-input" type="text" name="Htn" placeholder="Hypertension (0-1)"><br>






        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/utkarsh-tripathi-18a5ab197/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made with ❤️ by UPOYU.</p>
       </div>

    </body>
</html>
